.min-width-0 {
  min-width: 0;
}

.overflow-y-scroll {
  overflow-y: scroll !important;
}

.cursor-default {
  cursor: default !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-wait {
  cursor: wait !important;
}

.cursor-text {
  cursor: text !important;
}

.scroll-pane {
  position: relative !important;
}

.scroll-pane-inner {
  overflow-y: scroll !important;
  position: absolute !important;
  max-height: 100% !important;
  width: 100% !important;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--#{$prefix}border-color);
}

::-webkit-scrollbar-corner {
  background-color: var(--#{$prefix}body-bg);
}

.btn-icon, .btn-social {
  display: inline-flex;
  align-content: center !important;
  justify-content: center !important;
  padding: 0.6rem 0.75rem !important;
}

.btn-social:hover {
  opacity: 0.7;
}

.btn-social > svg {
  width: 32px;
  height: 32px;
}
