$enable-dark-mode: false;

$link-decoration: none;

@import "bootstrap/scss/bootstrap";

// Themes

$color-mode-type: data;

@import "themes/light";
@import "themes/dark";
@import "themes/sepia";
@import "themes/nord";

// Additional css

@import "components";
@import "image-view-modal";
